version: "3.9"
services:
  steamcmd-eco:
    image: emackie/steamcmd-eco
    container_name: eco
    volumes:
      - eco:/eco
    ports:
      - 3000:3000
      - 3001:3001
    restart: always

volumes:
  eco:
    name: eco
    external: true

networks:
  default:
    name: ${ECO_NETWORK:-proxy_network}
    external: true